.registersuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background: linear-gradient(180deg, rgb(249, 204, 204) 0%, #ffffff 100%);
  width: 90%;
  padding-top: 5em;
  padding-bottom: 5em;

  button {
    margin: 1em;
    padding: 1em;
    cursor:pointer;
    background-color: #4ad092;
    border:0.1em solid #4ad092;
    border-radius:1.2em;
    box-shadow: 3px 2px 2px #1e8a57;
  }

  button:hover {
    background-color:#1e8a57;
    border:0.1em solid #1e8a57;
  }

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(249, 204, 204);
}
